h1{
	color:white;
}
body{
	background-color:white;
}
img{
	
}
#name_first{
	font-size:60px;
}
#name{
	padding-top:10px;
	padding-left:15px;
	opacity:0.85;
	font-size:40px;
	font-family:"batang","Trebuchet MS";
}
#banner_border{
	background-color:#1D7CF2;
	border-radius:10px;
	height:90px;
	width:1900px;
}
#body{

}
#menu li{
    display: inline;
    font-style: normal;
    position: static;
}
#menu li a{
	font-size:5px;
    display: inline-block;
    position: static;
    width: 200px;
    height: 30px;
    line-height: 10px;
    padding-top: 30px;
    border-top: 1px solid rgb(153, 153, 153);
    text-align: center;
    color: rgb(205,197,191);
    padding-left: 40px;
    padding-right: 30px;
    font: normal normal normal 15px arial, helvetica, sans-serif;
    text-decoration: none;
}
#menu li a:hover{
    color:black;
    font: normal normal bold 15px arial, helvetica, sans-serif;
    text-decoration: none;
    border-bottom: 3px solid black;
}
.center{
	height:1000px;
	width:1700px;
	border-radius:20px;
	background-color:#1D7CF2;
	padding-right:20px;
	opacity:0.35;
	margin-left:auto;
	margin-right:auto;
}