body{
	background-color:#181818;
	font-family: "cordia new";
}
/*////////////header//////////////////*/

#header{
	width:100%;
	height:60px;
	background-color:#383838;
	padding-top:1px;
	font-size: 120%;
}
#header ul li{
	display:inline;
}
#header ul li a{
	text-align:center;
	color:#a8a8a8;
	text-decoration:none;
	padding-right:3%;
	padding-left:3%;
}
#header ul li a:hover{
	border-bottom:1px solid grey
}
/*////////////////////Left Ribbon///////////*/
 #contact{
	height:50px;
	width:50px;
	background-color:grey;
	margin:10px 0px  0px 50px;
	border-radius:2px;
 }
 #contact:hover{
	box-shadow: 0px 0px 10px grey;
 }
 #left_ribbon{
	margin-top:50px;
 }

/*/////////////Body////////////////////*/

.center {
	margin:auto;
	height:550px;
	width:1000px;
}

.center a{
	text-decoration:none;
	color:white;
}

#button{
	height:150px;
	padding-top:300px;
	width:20%;
	background-color:black;
	display:inline-table;
	margin-left:3%;
	margin-top:5%;
	border-radius:5px;
	opacity:0.9;
}
#button:hover{
	box-shadow: 0px 0px 20px grey;
}
 
#button p{
	text-align:center;
	font-size:200%
}

#name{
	font-size:400%;
	margin-left:25px;
	margin-top:-20%;
	color:white;
}
#title{
	margin-top:-20px;
	margin-left:25px;
	color:grey;
	font-size:150%;
}

/*////////////Footer/////////////////*/

#footer{
	width:100%;
	height:30px;
	margin-top:6%;
	background-color:#282828;
}
#footer_line{
	width:80%;
	height:1px;
	margin-left:10%;
	margin-top:5%;
	background-color:grey;
	box-shadow: 0px 0px 10px grey;
	opacity:0.2;
}